In [2]:
import pandas as pd
import sqlite3
import seaborn as sns

In [5]:
conn = sqlite3.connect('Databankdraft')
c = conn.cursor()

In [6]:
df_sales = pd.read_csv ('Sales.csv')
df_menu = pd.read_csv ('menu.csv')
df_mem = pd.read_csv ('members.csv')

In [7]:
df_sales.columns

Index(['   customer_id', ' order_date', ' product_id'], dtype='object')

In [8]:
df_menu.columns

Index(['  product_id', ' product_name', ' price'], dtype='object')

In [9]:
df_mem.columns

Index(['  customer_id', ' join_date'], dtype='object')

In [10]:
df_sales.to_sql('df_sales', conn,if_exists='replace',index=False)
df_menu.to_sql('df_menu', conn,if_exists='replace',index=False)
df_mem.to_sql('df_mem', conn,if_exists='replace',index=False)

/Users/olasunkanmifatungase/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [13]:
"""""customer_id" VARCHAR(1),
  "order_date" DATE,
  "product_id" INTEGER"""

'""customer_id" VARCHAR(1),\n  "order_date" DATE,\n  "product_id" INTEGER'

In [11]:
""""product_id" INTEGER,
  "product_name" VARCHAR(5),
  "price" INTEGER"""

'"product_id" INTEGER,\n  "product_name" VARCHAR(5),\n  "price" INTEGER'

In [12]:
""""customer_id" VARCHAR(1),
  "join_date" DATE"""

'"customer_id" VARCHAR(1),\n  "join_date" DATE'

In [17]:
qry = """SELECT
  	'product_id',
    'product_name',
    'price'
FROM df_menu
ORDER BY price DESC
LIMIT 5;"""

pd.read_sql_query(qry, con=conn)

DatabaseError: Execution failed on sql 'SELECT
  	'product_id',
    'product_name',
    'price'
FROM df_menu
ORDER BY price DESC
LIMIT 5;': no such column: price